
<!--///////////////////////////////////////////////////////////////////MESSAGE AND CALL CLASS  2017/4 MADE BY ZHANG///////////////////////////////////////////////-->
<ion-header>
  <div class="fstatusbar">
      <ion-icon name="menu" (click)="gotoprofile()"></ion-icon>
      <img src="{{flag}}" />
      <ion-icon name="notifications" (click)="gotonotification()"></ion-icon>
      <ion-icon name="search" (click)="gotosearch()"></ion-icon>
      <div class='badge' *ngIf="badge!='0'">{{badge}}</div>
  </div>
  <ion-navbar color="" [ngClass]="(lang == 'ar') ? 'cont_rtl':''">
    <ion-title>{{'STR_MORE' | translate}}</ion-title>
    <!--<ion-searchbar>
    </ion-searchbar>-->
  </ion-navbar>
</ion-header>

<ion-content [ngClass]="(lang == 'ar') ? 'cont_rtl':''">
  <ion-list id="secmore">
<!--Region content-->
    <ion-item round>
       <ion-icon name = "globe" item-left></ion-icon>
        <!--option content-->
       <ion-label>{{'STR_COUNTRY' | translate}}</ion-label>

        <ion-select [(ngModel)]="region" (ngModelChange)="selregion(region)">
            <ion-option value="kuwait">{{'STR_KUWAIT' | translate}}</ion-option>
            <ion-option value="ksa">{{'STR_KSA' | translate}}</ion-option>
            <ion-option value="jor">{{'STR_JORDAN' | translate}}</ion-option>
        </ion-select>
    </ion-item>


<!--Language content-->
    <ion-item>
              <ion-icon name = "mic" item-left></ion-icon>
        <!--option content-->
       <ion-label>{{'STR_LANGUAGE' | translate}}</ion-label>

        <ion-select [(ngModel)]="lang" (ngModelChange)="sellang(lang)">
            <ion-option value="en">{{'STR_ENGLISH' | translate}}</ion-option>
            <ion-option value="ar">{{'STR_KUWAIT1' | translate}}</ion-option>
        </ion-select>
    </ion-item>

<!--Post ad content-->
    <ion-item>
        <ion-icon name ="ionitron" item-left></ion-icon>
        <ion-label (click)="onpostad()">{{'STR_POSTAD' | translate}}</ion-label>
        <ion-icon name ="arrow-dropright" class="arrow_right" item-right *ngIf="lang != 'ar'"></ion-icon>
        <ion-icon name ="arrow-dropleft" class="arrow_right" item-right *ngIf="lang == 'ar'"></ion-icon>
    </ion-item>

    
<!--My Profile content-->
    <ion-item>
        <ion-icon name ="contact" item-left></ion-icon>
        <ion-label (click)="onprofile()">{{'STR_MYPROFILE' | translate}}</ion-label>
        <ion-icon name ="arrow-dropright" class="arrow_right" item-right *ngIf="lang != 'ar'"></ion-icon>
        <ion-icon name ="arrow-dropleft" class="arrow_right" item-right *ngIf="lang == 'ar'"></ion-icon>
    </ion-item>


<!--favorite content-->
    <ion-item>
        <ion-icon name ="happy" item-left></ion-icon>
        <ion-label (click)="onfavorite()">{{'STR_FAVORITE' | translate}}</ion-label>
        <ion-icon name ="arrow-dropright" class="arrow_right" item-right *ngIf="lang != 'ar'"></ion-icon>
        <ion-icon name ="arrow-dropleft" class="arrow_right" item-right *ngIf="lang == 'ar'"></ion-icon>
    </ion-item>

<!--contact us content-->
    <ion-item>
        <ion-icon name ="mail" item-left></ion-icon>
        <ion-label>{{'STR_CONTACTUS' | translate}}</ion-label>
        <ion-icon name ="arrow-dropright" class="arrow_right" item-right *ngIf="lang != 'ar'"></ion-icon>
        <ion-icon name ="arrow-dropleft" class="arrow_right" item-right *ngIf="lang == 'ar'"></ion-icon>
    </ion-item>

<!--about us content-->
    <ion-item>
         <ion-icon name ="megaphone" item-left></ion-icon>
        <ion-label>{{'STR_ABOUTUS' | translate}}</ion-label>
        <ion-icon name ="arrow-dropright" class="arrow_right" item-right *ngIf="lang != 'ar'"></ion-icon>
        <ion-icon name ="arrow-dropleft" class="arrow_right" item-right *ngIf="lang == 'ar'"></ion-icon>
    </ion-item>

<!--Account Login content-->
    <ion-item>
        <ion-icon name ="contact" item-left></ion-icon>
        <ion-label [class.hide]="profile_id == ''" (click)="onlogout()">{{'STR_LOGOUT' | translate}}</ion-label>
        <ion-label [class.hide]="profile_id != ''" (click)="onlogin()">{{'STR_LOGOUT' | translate}}</ion-label>
        <ion-icon name ="arrow-dropright" class="arrow_right" item-right *ngIf="lang != 'ar'"></ion-icon>
        <ion-icon name ="arrow-dropleft" class="arrow_right" item-right *ngIf="lang == 'ar'"></ion-icon>
    </ion-item>
    
  </ion-list>

</ion-content>
