page-login{
    
ion-content{
    background: #ffffff; 
    background: -moz-linear-gradient(top, #ffffff 0%, #ffffff 22%, #065284 33%, #055284 100%); 
    background: -webkit-linear-gradient(top, #ffffff 0%,#ffffff 22%,#065284 33%,#055284 100%); 
    background: linear-gradient(to bottom, #ffffff 0%,#ffffff 22%,#065284 33%,#055284 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#055284',GradientType=0 );
}
.div_country{
    padding: 5%;
}
.clearfix{
    clear:both;
}

}