page-login{
    
ion-content.content-md{
    background: #565656; /* Old browsers */
    background: -moz-linear-gradient(top,  #565656 0%, #cccccc 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #565656 0%,#cccccc 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #565656 0%,#cccccc 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#565656', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */
}
.div_country{
    padding: 5%;
}
.clearfix{
    clear:both;
}

}