<!--//////////   SHOW DETAIL POSTS CONTENT WHEN CLICK EACH POST ITEM          2017/4 MADE BY ZHANG      -->
<ion-header>

  <div class="fstatusbar">
      <ion-icon name="menu" (click)="gotoprofile()"></ion-icon>
      <img src="{{flag}}" />
      <ion-icon name="notifications" (click)="gotonotification()"></ion-icon>
      <ion-icon name="search" (click)="gotosearch()"></ion-icon>
      <div class='badge' *ngIf="badge!='0'">{{badge}}</div>
  </div>
  
  <ion-navbar *ngIf="false">
    <ion-title *ngIf="sub_wanted=='1'">
      <div style="float: left; padding-top: 10px">Wanted Things</div>
      <button color="secondary" ion-button style="margin-right:10px; float:right" (click)="goPostWnatedThing();">
        <ion-icon  name="bulb">ADD</ion-icon>
      </button>
    </ion-title>
    <ion-title *ngIf="sub_wanted=='0'">
      Details
    </ion-title>
    
  </ion-navbar>

</ion-header>


<ion-content [ngClass]="(lang == 'ar') ? 'sub_content cont_rtl':'sub_content'" style="background-color:#eee;border-radius:10%;">
  <div class="popup" *ngIf="bpopup">
    <div class="dialog">
      <div class="dialog_header">{{dialog_title}}</div>
      <div class="dbutton dbt-blue" id="bt_call" (click)="dcall()">{{phonenumber}}</div>
      <div class="dbutton dbt-red" id="bt_cancel" (click)="gocancel()">{{'STR_CANCEL'}}</div>
    </div>
  </div>
<ion-card class="ion-pview">
  <div class="div_wrapper">
    <ion-row *ngIf="sub_wanted=='1'">
      <ion-col>
        <div class="div_cate">{{catename}}</div>
      </ion-col>
    </ion-row>
    <div class="div_img" id="div_detail">
      <div id="popup" *ngIf="ispopup">
        <div (click)="clickItem(1)">{{'STR_REPORT' | translate}}</div>
        <div (click)="clickItem(2)">{{'STR_BLOCK' | translate}}</div>
        <div (click)="clickItem(3)">Help</div>
      </div>
      <ion-icon class="arrow-back" name="arrow-back" (click)="navCtrl.pop()"></ion-icon>
      <ion-icon class="arrow-more" name="more" (click)="popup()"></ion-icon>
      <!--
      <ion-scroll scrollX="true"  class="div_img_wrapper">
        <img  *ngFor="let imgurl of sub_url; let i=index;" id="img{{i}}" src="{{imgurl}}" (click)="gotoview(i)" />
      </ion-scroll>
      -->
      <ion-slides pager id='slides' #slides>
        <ion-slide *ngFor="let imgurl of sub_url; let i=index;">
          <img id="img{{i}}" src="{{imgurl}}" (click)="gotoview(i)" />
        </ion-slide>
      </ion-slides>
    </div>
    <div class="icon_sec_wanted" *ngIf="sub_wanted=='0'">
      <div (click)="callIT(phonenumber)" class="divsel1">{{'STR_CALL' | translate}}</div>
      <div (click)="sendSMS()" class="divsel1">{{'STR_SMS' | translate}}</div>
      <div (click)="onchat()" class="divsel1">{{'STR_CHAT' | translate}}</div>
      <div (click)="clicklike()" class="divsel{{blike}}" >+{{'STR_FAVORITE' | translate}}</div>
    </div>
  </div>
  <div class="div_sec" *ngIf="sub_wanted=='0'" style="margin-top: 0px;border-top:1px solid #ccc;"><h2>{{sub_title}}</h2></div>
  <div class="div_sec">
    <ion-row>
      <ion-col *ngIf="sub_wanted=='0'">
        <div class='center'>{{'STR_PRICE' | translate}}</div><br/>
        <div class='center colorb' style="direction:ltr">{{sub_price}} KWD</div>
        <div *ngIf="delivery == 'free'" text-center style="color:#01aa41">{{'STR_FREE_DELIVERY' | translate}}</div>
        <div *ngIf="delivery != 'free'" text-center style="color:#01aa41; font-size:12px">{{'STR_DELIVERY' | translate}} <span style="direction:ltr">{{delivery_cost}}KD</span></div>
      </ion-col>
      <ion-col *ngIf="sub_wanted=='1'">
        <div class='center'>Date/Time</div><br/>
        <div class='center colorb'>{{sub_date}}</div>
      </ion-col>
      <ion-col *ngIf="condition == 'true'">
        <div class='center'>{{'STR_CONDITION' | translate}}</div><br/>
        <div class='center colorb' *ngIf="condition == 'true'">{{'STR_NEW' | translate}}</div>
        <div class='center colorb' *ngIf="condition != 'true'">{{'STR_USED' | translate}}</div>
      </ion-col>
      <ion-col>
        <div class='center'>{{'STR_VIEWS' | translate}}</div><br/>
        <div class='center colorb'>{{sub_views}}</div>
      </ion-col>
      <ion-col>
        <div class='center'><ion-icon name='ios-heart-outline' style="font-size: 18px"></ion-icon></div><br/>
        <div class='center colorb'>{{sub_likes}}</div>
      </ion-col>
    </ion-row>
    
  </div>

  <div class="div_sec noborder noshadow">
    <button  ion-button full (click)="onprice()" class="md-button green">{{'STR_MAKE_ANOFFER' | translate}}</button>
  </div>

  <div class="div_sec noborder noshadow">
    <button  ion-button full *ngIf="pressedOffer==0" (click)="onenterbid()" class="md-button green">{{'STR_ENTER_BIDDING' | translate}}</button>
    <button  ion-button full *ngIf="pressedOffer!=0" color="light" (click)="ongobid()" class="md-button green">Offer on bidding, Total {{bidprice}} KD</button>
  </div>

  <div class="div_sec noborder noshadow" *ngIf="pressedOffer!=0">
    <button  ion-button full (click)="onbid()" class="md-button green">{{'STR_BID_ONTHISOFFER' | translate}}</button>
  </div>

  <div class="div_sec noborder">
    <div style="padding-bottom: 5px;"><small>{{'STR_DESCRIPTION' | translate}}</small></div>
    <div class="div_desc">{{sub_desc}}</div>
  </div>

  <div class="div_sec seller">
    <div (click)="onfollow(sub_profile_id)" class="bt_follow on_{{isfollow}}">+ Follow</div>
    <div class="ranking">{{'STR_RANK' | translate}}</div>
    <div class="goprofile" (click)="goprofile(sub_profile_id)">
      <ion-icon name="ios-arrow-forward" *ngIf="lang != 'ar'"></ion-icon>
      <ion-icon name="ios-arrow-back" *ngIf="lang == 'ar'"></ion-icon>
    </div>
    <div style="padding-bottom: 5px;"><small>{{'STR_ABOUT_SELLER' | translate}}</small></div>
    <div class="div_plat" *ngIf="(pData.points)>=1500"><img src="assets/img/icon-2.png"/><div>Platinum</div></div>
    <div class="div_gold" *ngIf="(pData.points)>=1000 && (pData.points)<1500"><img src="assets/img/icon-12.png"/><div>Gold</div></div>
    <div class="div_silver" *ngIf="(pData.points)>=600 && (pData.points)<1000"><img src="assets/img/icon-16.png"/><div>Silver</div></div>
    <div class="div_silver" *ngIf="(pData.points)>=400 && (pData.points)<600"><img src="assets/img/icon-4.png"/><div></div></div>
    <div class="div_silver" *ngIf="(pData.points)<400"></div>
    
    <div class="div_img">
        <img src="{{pData.image}}" />
    </div>
    <div class="state on_{{pData['ison']}}"></div>
    <div class="div_item_right">
        <div class="name">{{username}}</div>
        <div class="overall_mark">{{myRating}}</div>
        <div class="div_star">
            <ion-icon *ngIf="myRating>=1" name="star"></ion-icon>
            <ion-icon *ngIf="myRating>=2" name="star"></ion-icon>
            <ion-icon *ngIf="myRating>=3" name="star"></ion-icon>
            <ion-icon *ngIf="myRating>=4" name="star"></ion-icon>
            <ion-icon *ngIf="myRating>=5" name="star"></ion-icon>
            <ion-icon *ngIf="myRating%1!=0" name="star-half"></ion-icon>
            <ion-icon *ngIf="myRating==0" name="star-outline"></ion-icon>
            <ion-icon *ngIf="myRating<=1" name="star-outline"></ion-icon>
            <ion-icon *ngIf="myRating<=2" name="star-outline"></ion-icon>
            <ion-icon *ngIf="myRating<=3" name="star-outline"></ion-icon>
            <ion-icon *ngIf="myRating<=4" name="star-outline"></ion-icon>
        </div>
        <div style="clear: both" class="reviewcount">{{ratingCount}} {{'STR_REVIEWS' | translate}}</div>
        <div class="div_icons1">
            <div class="div_icon sel">
                <img src="assets/img/icon-verify-1.png" />
            </div>
            <div class="div_icon">
                <img src="assets/img/icon-email.png" />
            </div>
            <div class="div_icon">
                <img src="assets/img/icon-phone.png" />
            </div>
            <div class="div_icon sel">
                <img src="assets/img/icon-payment-1.png" />
            </div>
        </div>
        <div class="div_icons">
            <div [ngClass]="(membership1 == 'basic') ? 'div_icon sel' : 'div_icon'">
                <img src="assets/img/icon-6-1.png" *ngIf="membership1 == 'basic'"/>
                <img src="assets/img/icon-6.png" *ngIf="membership1 != 'basic'" />
            </div>
            <div [ngClass]="(membership2 == 'pro') ? 'div_icon sel' : 'div_icon'">
                <img src="assets/img/icon-9-1.png" *ngIf="membership2 == 'pro'"/>
                <img src="assets/img/icon-9.png" *ngIf="membership2 != 'pro'" />
            </div>
            <div [ngClass]="(membership3 == 'shop') ? 'div_icon sel' : 'div_icon'">
                <img src="assets/img/icon-5-1.png" *ngIf="membership3 == 'shop'"/>
                <img src="assets/img/icon-5.png" *ngIf="membership3 != 'shop'" />
            </div>
            <div [ngClass]="(membership4 == 'company') ? 'div_icon sel' : 'div_icon'">
                <img src="assets/img/icon-15-1.png" *ngIf="membership4 == 'company'"/>
                <img src="assets/img/icon-15.png" *ngIf="membership4 != 'company'"/>
            </div>
        </div>
        <div class="div_verify">{{'STR_VERIFIED' | translate}}</div>
    </div>
    <div style="clear:both"></div>
  </div>

  <div class="div_sec">
    <div style="padding-bottom: 5px;"><small>{{'STR_POST_RATINGS' | translate}}</small></div>
    <div>
      <ion-item  *ngFor="let item of reviewlist; let i = index">
          <div class="div_star div_review">
              <ion-icon *ngIf="item['mark']>=1" name="star"></ion-icon>
              <ion-icon *ngIf="item['mark']>=2" name="star"></ion-icon>
              <ion-icon *ngIf="item['mark']>=3" name="star"></ion-icon>
              <ion-icon *ngIf="item['mark']>=4" name="star"></ion-icon>
              <ion-icon *ngIf="item['mark']>=5" name="star"></ion-icon>
              <ion-icon *ngIf="item['mark']%1!=0" name="star-half"></ion-icon>
              <ion-icon *ngIf="item['mark']==0" name="star-outline"></ion-icon>
              <ion-icon *ngIf="item['mark']<=1" name="star-outline"></ion-icon>
              <ion-icon *ngIf="item['mark']<=2" name="star-outline"></ion-icon>
              <ion-icon *ngIf="item['mark']<=3" name="star-outline"></ion-icon>
              <ion-icon *ngIf="item['mark']<=4" name="star-outline"></ion-icon>
          </div>
          <div class="rdate">{{item['date']}}</div>
          <div class="ruser">by {{item['username']}}</div>
          <div class='rtitle'>{{item['title']}}</div>
          <div class="rcont" *ngIf="ml[i]==0">{{item['shortdesc']}}</div>
          <div class="rcont" *ngIf="ml[i]==1">{{item['review']}}</div>
          <div class="more" *ngIf="ml[i]==0" (click)="showmore(i)">MORE</div>
          <div class="more" *ngIf="ml[i]==1" (click)="showless(i)">LESS</div>
      </ion-item>
    </div>
    <button ion-button full class='md-button green' (click)="goreview()">{{'STR_WRITE_REVIEW' | translate}}</button>
  </div>

</ion-card>

  <ion-item *ngIf="myprofile_id == sub_profile_id">
    <button ion-button class='md-button orange' (click)="upgrade()">{{'STR_UPGRADE_TO_FEATURE' | translate}}</button>
    <!-- <button ion-button class='md-button green' (click)="edit()">Edit</button> -->
    <button ion-button class='md-button red' (click)="delete()">Delete</button>
  </ion-item>

</ion-content>
