
<ion-header>

  <div class="fstatusbar">
      <ion-icon name="menu" (click)="gotoprofile()"></ion-icon>
      <img src="{{flag}}" />
      <ion-icon name="notifications" (click)="gotonotification()"></ion-icon>
      <ion-icon name="search" (click)="gotosearch()"></ion-icon>
      <div class='badge' *ngIf="badge!='0'">{{badge}}</div>
  </div>
  
</ion-header>


<ion-content [ngClass]="(lang == 'ar') ? 'detail_content cont_rtl':'detail_content'">
    <div class="popup" *ngIf="bpopup">
        <div class="dialog">
        <div class="dialog_header">{{dialog_title}}</div>
        <div class="dbutton dbt-blue" id="bt_call" (click)="dcall()">{{phonenumber}}</div>
        <div class="dbutton dbt-red" id="bt_cancel" (click)="gocancel()">Cancel</div>
        </div>
    </div>
    <div class="back_img" id="pback_img" style="background:url('');background-size: cover;background-position: center;">
        <div>
            <ion-icon name="arrow-back" (click)="navCtrl.pop();"></ion-icon>
        </div>
    </div>

    <div class='state on_{{ison}}'></div>
    <div class='state_text'>{{state}}</div>
    <div class="fleft div_photo" (click)="gotoview(image);"> 
        <img src="{{image}}" src="" />
    </div>
    
    <div class="div_top">
        <div class="fright">
            <div class="membership" *ngIf="(points)>=1500"><img src="assets/img/icon-2.png"/><div>Platinum</div></div>
            <div class="membership" *ngIf="(points)>=1000 && (points)<1500"><img src="assets/img/icon-12.png"/><div>Gold</div></div>
            <div class="membership" *ngIf="(points)>=600 && (points)<1000"><img src="assets/img/icon-16.png"/><div>Silver</div></div>
            <div class="membership" *ngIf="(points)>=400 && (points)<600"><img src="assets/img/icon-4.png"/><div></div></div>
            <div class="membership" *ngIf="(points)<400"></div>

            <button (click)="onfollow(profile_id);" [ngClass]="{'follow_sel':isfollow}" id="bt_follow">+ Follow</button>
            <div style="clear:both">
                <div class="fright div_30" (click)="onfollower()">
                    <div>Followers</div>
                    <div style="color:#3474e1">{{follower}}</div>
                </div>
                <div class="fright div_30" (click)="onfollowing()">
                    <div>Following</div>
                    <div style="color:#3474e1">{{following}}</div>
                </div>
            </div>
        </div>
        
        <div class="overall_star">
            <div style="font-weight:bold; font-size:16px;">{{username}}</div>
            <div class="overall_mark">{{myRating}}</div>
            <div class="div_star">
                <ion-icon *ngIf="myRating>=1" name="star"></ion-icon>
                <ion-icon *ngIf="myRating>=2" name="star"></ion-icon>
                <ion-icon *ngIf="myRating>=3" name="star"></ion-icon>
                <ion-icon *ngIf="myRating>=4" name="star"></ion-icon>
                <ion-icon *ngIf="myRating>=5" name="star"></ion-icon>
                <ion-icon *ngIf="myRating%1!=0" name="star-half"></ion-icon>
                <ion-icon *ngIf="myRating==0" name="star-outline"></ion-icon>
                <ion-icon *ngIf="myRating<=1" name="star-outline"></ion-icon>
                <ion-icon *ngIf="myRating<=2" name="star-outline"></ion-icon>
                <ion-icon *ngIf="myRating<=3" name="star-outline"></ion-icon>
                <ion-icon *ngIf="myRating<=4" name="star-outline"></ion-icon>
            </div>
            <div style="clear: both">{{ratingCount}} {{'STR_REVIEWS' | translate}}</div>
            <div class='div_tooltip'>
                <div class='tooltip' *ngIf="tool_tip">{{strtooltip}}</div>
            <div class="div_icons1">
                <div class="div_icon sel" (click)='clickicon(1, true)'>
                    <img src="assets/img/icon-verify-1.png" />
                </div>
                <div class="div_icon" (click)='clickicon(2, false)'>
                    <img src="assets/img/icon-email.png" />
                </div>
                <div class="div_icon" (click)='clickicon(3, true)'>
                    <img src="assets/img/icon-phone.png" />
                </div>
                <div class="div_icon sel" (click)='clickicon(4, true)'>
                    <img src="assets/img/icon-payment-1.png" />
                </div>
            </div>
            <div class="div_icons">
                <div [ngClass]="(membership1 == 'basic') ? 'div_icon sel' : 'div_icon'" (click)='clickicon(5, (membership1 == "basic"))'>
                    <img src="assets/img/icon-6-1.png" *ngIf="membership1 == 'basic'"/>
                    <img src="assets/img/icon-6.png" *ngIf="membership1 != 'basic'" />
                </div>
                <div [ngClass]="(membership2 == 'pro') ? 'div_icon sel' : 'div_icon'" (click)='clickicon(6, (membership2 == "pro"))'>
                    <img src="assets/img/icon-9-1.png" *ngIf="membership2 == 'pro'"/>
                    <img src="assets/img/icon-9.png" *ngIf="membership2 != 'pro'" />
                </div>
                <div [ngClass]="(membership3 == 'shop') ? 'div_icon sel' : 'div_icon'" (click)='clickicon(7, (membership3 == "shop"))'>
                    <img src="assets/img/icon-5-1.png" *ngIf="membership3 == 'shop'"/>
                    <img src="assets/img/icon-5.png" *ngIf="membership3 != 'shop'" />
                </div>
                <div [ngClass]="(membership4 == 'company') ? 'div_icon sel' : 'div_icon'" (click)='clickicon(8, (membership4 == "company"))'>
                    <img src="assets/img/icon-15-1.png" *ngIf="membership4 == 'company'"/>
                    <img src="assets/img/icon-15.png" *ngIf="membership4 != 'company'"/>
                </div>
            </div>
            </div>
        </div>
        <div style="clear:both"></div>
        <div class="icon_sec_wanted">
            <div (click)="callIT(phonenumber)" class="divsel1">{{'STR_CALL' | translate}}</div>
            <div (click)="sendSMS()" class="divsel1">{{'STR_SMS' | translate}}</div>
            <div (click)="onchat()" class="divsel1">{{'STR_CHAT' | translate}}</div>
            <div (click)="onblock()" class="bt_follow" >{{'STR_BLOCK' | translate}}</div>
            <div (click)="onreport()" class="bt_follow" >{{'STR_REPORT' | translate}}</div>
        </div>
        
        <div *ngIf="about != ''">
            <div class="about_title">About</div>
            <div class="about" id="about" text-wrap [innerHTML]="about"></div>
            <div class="about_more" id="about_more" (click)="aboutmore0()">{{'STR_MORE' | translate}}</div>
        </div>
    </div>
    
    <div style="padding-bottom: 10px">
        <div class="div_tab">
            <div class="div_30p" (click)="tabclick('ads')" id="tab_ads">{{'STR_SELLER_ADVERTISE' | translate}}({{ads}})</div>
            <div class="div_30p" (click)="tabclick('rating')" id="tab_rating">{{'STR_RATING_REVIEW' | translate}}</div>
        </div>
    </div>

    <div class="div_cont" id="div_ads">
        <div class='viewstyle'>
            <ion-icon name='apps' [ngClass]="{'sel':viewstyle==1}" (click)='view(1)'></ion-icon>
            <ion-icon name='list' [ngClass]="{'sel':viewstyle==0}" (click)='view(0)'></ion-icon>
        </div>
        <div *ngIf="viewstyle == 0">
            <ion-item  *ngFor="let item of keys; let i = index" (click)="click_card(i);">
                <div class="div_img">
                    <img class="late_img" *ngFor="let itemurl of item.post_img_url;" src="{{itemurl}}"/>
                </div>
                <div class="div_item_right">
                    <div class="name">{{item.post_title}}</div>
                    <div class="date">{{item.post_date}}</div>
                </div>
            </ion-item>
        </div>
        <div *ngIf="viewstyle == 1">
            <ion-card  *ngFor="let item of keys; let i = index" (click)="click_card(i);">
                <div class="div_img1">
                    <img class="late_img" *ngFor="let itemurl of item.post_img_url;" src="{{itemurl}}"/>
                </div>
            </ion-card>
        </div>
    </div>
    <div class="div_cont" id="div_rating">
        <div class="div_top_mark">
            <div class="mark">{{myRating}}</div>
            <div class="fleft">
                <div class="div_star">
                    <ion-icon *ngIf="myRating>=1" name="star"></ion-icon>
                    <ion-icon *ngIf="myRating>=2" name="star"></ion-icon>
                    <ion-icon *ngIf="myRating>=3" name="star"></ion-icon>
                    <ion-icon *ngIf="myRating>=4" name="star"></ion-icon>
                    <ion-icon *ngIf="myRating>=5" name="star"></ion-icon>
                    <ion-icon *ngIf="myRating%1!=0" name="star-half"></ion-icon>
                    <ion-icon *ngIf="myRating==0" name="star-outline"></ion-icon>
                    <ion-icon *ngIf="myRating<=1" name="star-outline"></ion-icon>
                    <ion-icon *ngIf="myRating<=2" name="star-outline"></ion-icon>
                    <ion-icon *ngIf="myRating<=3" name="star-outline"></ion-icon>
                    <ion-icon *ngIf="myRating<=4" name="star-outline"></ion-icon>
                </div>
                <div>{{ratingCount}} ratings</div>
                
            </div>
            <!--
            <div class="fright">
                <button ion-button color="secondary" (click)="writereview();" id="bt_review">Wirte a review</button>
            </div>
            -->
            <div style="clear:both"></div>
            <div class="div_ring">
                <div class="div_20">
                    <div class="c100 p{{perc(mark1)}} center orange" id="ring0">
                        <span>{{perc(mark1)}}%</span>
                        <div class="slice">
                            <div class="bar"></div> <div class="fill"></div>
                        </div>
                    </div>
                    <div class="ring_title">Accuracy</div>
                </div>
                <div class="div_20">
                    <div class="c100 p{{perc(mark2)}} center orange" id="ring1">
                        <span>{{perc(mark2)}}%</span>
                        <div class="slice">
                            <div class="bar"></div> <div class="fill"></div>
                        </div>
                    </div>
                    <div class="ring_title">Communication</div>
                </div>
                <div class="div_20">
                    <div class="c100 p{{perc(mark3)}} center orange" id="ring2">
                        <span>{{perc(mark3)}}%</span>
                        <div class="slice">
                            <div class="bar"></div> <div class="fill"></div>
                        </div>
                    </div>
                    <div class="ring_title">Cleanliness</div>
                </div>
                <div class="div_20">
                    <div class="c100 p{{perc(mark4)}} center orange" id="ring3">
                        <span>{{perc(mark4)}}%</span>
                        <div class="slice">
                            <div class="bar"></div> <div class="fill"></div>
                        </div>
                    </div>
                    <div class="ring_title">Quality</div>
                </div>
                <div class="div_20">
                    <div class="c100 p{{perc(mark5)}} center orange" id="ring4">
                        <span>{{perc(mark5)}}%</span>
                        <div class="slice">
                            <div class="bar"></div> <div class="fill"></div>
                        </div>
                    </div>
                    <div class="ring_title">Honesty</div>
                </div>
            </div>
        </div>
        <ion-item  *ngFor="let item of reviewlist; let i = index">
            <div class="div_star div_review">
                <ion-icon *ngIf="item['mark']>=1" name="star"></ion-icon>
                <ion-icon *ngIf="item['mark']>=2" name="star"></ion-icon>
                <ion-icon *ngIf="item['mark']>=3" name="star"></ion-icon>
                <ion-icon *ngIf="item['mark']>=4" name="star"></ion-icon>
                <ion-icon *ngIf="item['mark']>=5" name="star"></ion-icon>
                <ion-icon *ngIf="item['mark']%1!=0" name="star-half"></ion-icon>
                <ion-icon *ngIf="item['mark']==0" name="star-outline"></ion-icon>
                <ion-icon *ngIf="item['mark']<=1" name="star-outline"></ion-icon>
                <ion-icon *ngIf="item['mark']<=2" name="star-outline"></ion-icon>
                <ion-icon *ngIf="item['mark']<=3" name="star-outline"></ion-icon>
                <ion-icon *ngIf="item['mark']<=4" name="star-outline"></ion-icon>
            </div>
            <div class="rdate">{{item['date']}}</div>
            <div class="ruser">by {{item['username']}}</div>
            <div class='rtitle'>{{item['title']}}</div>
            <div class="rcont" *ngIf="ml[i]==0">{{item['shortdesc']}}</div>
            <div class="rcont" *ngIf="ml[i]==1">{{item['review']}}</div>
            <div class="more" *ngIf="ml[i]==0" (click)="showmore(i)">MORE</div>
            <div class="more" *ngIf="ml[i]==1" (click)="showless(i)">LESS</div>
        </ion-item>
    </div>
<!--
    <div class="div_cont" id="div_following">
        <ion-item  *ngFor="let item of fitem1; let i = index">
            <div class="div_img">
                <img src="{{item.image}}" />
            </div>
            <div class="div_item_right">
                <div class="name">{{item.username}}</div>
                <div class="follow  on_{{item.isfollow}}" (click)="onfollow(item.profile_id);">+ Follow</div>
            </div>
        </ion-item>
    </div>

    <div class="div_cont" id="div_follower">
        <ion-item  *ngFor="let item of fitem; let i = index">
            <div class="div_img">
                <img src="{{item.image}}" />
            </div>
            <div class="div_item_right">
                <div class="name">{{item.username}}</div>
                <div class="follow  on_{{item.isfollow}}" (click)="onfollow(item.profile_id);">+ Follow</div>
            </div>
        </ion-item>
    </div>
-->
</ion-content>