page-splash {

.splash{
    height: 90%;
    position: relative;
    margin-top: 5%;
}
.splash img{
    height: 90%;
}
.splash button{
    position: absolute;
    bottom: 1px;
    left: 0px;
    width: 99%;
}

}
