page-splash {

.splash{
    height: 100%;
    position: relative;
    margin: 0;
    width: 100%;
    background: #212121;
}
.splash img{
    height: 90%;
}
.splash button{
    position: absolute;
    bottom: -4px;
    left: -2px;
    width:100%;
}
.splash div.back{
    background-size: cover;
    background-position: center;
    width: 100%;
    height: calc(100% - 88px);
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-color: #212121;
}
div.banner{
    background: #ff8a65;
    color: #fff;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

}
