.appname{
    font-size: 60px;
    line-height: 150px;
    text-shadow: rgba(0, 0, 0, 0.18) 4px 3px;
    color:#e2bb26;
    font-weight: bold;
}
page-region{

ion-content.content-md{
    background: #055284;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#565656+0,cccccc+100 */
    background: #565656; /* Old browsers */
    background: -moz-linear-gradient(top,  #565656 0%, #cccccc 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #565656 0%,#cccccc 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #565656 0%,#cccccc 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#565656', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */


}
.div_country{
    padding: 5%;
}
.div_country img{
    width: 31%;
    height: 70px;
    margin: 1px;
    display: inline-block;
    border-radius: 5px;
    padding: 3px;
}
.div_country .imgsel{
    border: 2px solid #e2bb26;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.14), 0 3px 5px rgba(0, 0, 0, 0.21);
    padding: 0px;
}
.clearfix{
    clear: both;
}
#div_bt .button-md-light{
    background: transparent !important;
    border: 0px !important;
    color: #fff;
}
#div_bt .button-md{
    border: 2px solid #e2bb26;
}


}