
page-home {
.home_img
{
  width: 100%;
  height: 100%;
  margin-top: 0px;
  margin-left:auto;
  margin-right:auto;
  border-radius: 0px;
}

.home_content
{
  float: left;
  margin: 0;
  background-size: cover;
} 

.home_card
{
  width: 50%;
  height: 140px;
  margin: 0;
  padding: 1px;
  border-radius: 0px;
  float: left;
  position: relative;
  // background-image: url('../../assets/img/back1.png');
  // background-size: cover;
}
.home_card .label-md{
  margin: 0px 8px 0 0;
}
.home_card .label-md *{
  color: #fff;
}
.late_header{
  position: absolute;
  top: 1px;
  left: 1px;
  padding-left: 10px;
  padding-top: 5px;
  width: 100%;
  background: -moz-linear-gradient(top,  rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%); 
  background: -webkit-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); 
  background: linear-gradient(to bottom,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); 
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 );
}
.late_header h4{
  color: #fff;
  font-size: 20px;
}
.card-content{
  padding: 0;
}

.home_header
{
  border-radius: 10px;
  background-color: burlywood;
  // background-image: url('../../assets/img/back1.png');
  // background-size: cover;
}
.btcate{
  width: 100px; 
  height: 140px; 
  margin-left: 10px;
  border-radius: 10px;
  border:1px solid #eee;
  box-shadow: #eee 1px 1px 1px; 
  background: #fff; 
  display:inline-block;
  vertical-align: top;
}
ion-navbar .button-md{
  height: 3.2rem;
  font-size: 14px;
  font-weight: bold;
  width: 100%;
}
ion-navbar button.button-md{
  background: #ff8a65 !important
}
[col-3] {
      padding: 1px 5px;
}
.toolbar-md{
  min-height: 0px;
  padding: 0px;
}
.bt{
    position: absolute;
    top: 12px;
    left: 17px;
    font-size: 2em;
}
.searchbar-search-icon{
    display: none;
}
.s_cont{
  overflow-x: auto;
  width: 100%;
}
.s_cont_wrapper{
  width: 910px;
  padding: 5px;
}
.s_cont_slide{
  width: 90px;
  display: inline-block;
}
.s_cont_slide img{
    width: 70px;
    height: 70px;
    border-radius: 5px;
    margin: 5px;
    margin-bottom: 0px;
}
.overall_mark{
    background: #f18e00;
    padding: 2px 5px;
    border-radius: 2px;
    color: #fff;
    float: none;
    display: inline-block;
    margin-right: 5px;
    font-size: 14px;
}
.div_star ion-icon{
    color: #f18e00;
      margin-right: -3px;
}
.ranking{
    font-size: 12px;
    color: #fff;
    background: rgba(55, 160, 0, 0.7);
    padding: 1px 5px;
    display: inline-block;
    width: 70px;
    text-align: center;
    border-radius: 5px;
    background: linear-gradient(#9BC90D 0%, #79A70A 100%);
    box-shadow: 0 3px 7px -5px black;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    padding-top: 0px;
    margin-left: 5px;
}
.bt_follow{
  display: inline-block;
  border-radius: 50px;
  border: 1px solid #f00;
  padding: 2px 5px;
  color: #f00;
  font-size: 14px;
  margin-top: 3px;
  margin-left: 1px;
  min-width: 70px;
}
div.bt_follow.on_1{
  color: #fff !important;
  background: #f00;
}
.div_title{
    padding: 10px;
    padding-bottom: 5px;
    font-size: 16px;
    color: #3474e1;
}
.div_sec{
  clear: both;
  height: 5px;
  background: #ddd;
}
#bt_viewall{
  position: absolute;
  right: 8px;
  top: 5px;
}
ion-navbar button ion-icon{
    font-size: 20px;
    margin-right: 5px;
}

ion-content.content-md.cont_rtl{
  #bt_viewall{
    left: 8px;
    right: auto;
  }
}
.cont_rtl{
  .bt{
    right: 17px;
    left: auto;
  }
}

}

