page-wanted {

.scroll_content {
  white-space: nowrap;
}


.colorClass{
  background-color: lightyellow;
}

.btcate{
  width: 100px; 
  height: 140px; 
  margin-left: 10px;
  border-radius: 10px;
  border:1px solid #eee;
  box-shadow: #eee 1px 1px 1px; 
  background: #fff; 
  display:inline-block;
  vertical-align: top;
}

}
