<!--
  Generated template for the Post page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <div class="fstatusbar">
      <ion-icon name="menu" (click)="gotoprofile()"></ion-icon>
      <img src="{{flag}}" />
      <ion-icon name="notifications" (click)="gotonotification()"></ion-icon>
      <ion-icon name="search" (click)="gotosearch()"></ion-icon>
      <div class='badge' *ngIf="badge!='0'">{{badge}}</div>
  </div>
  
  <ion-navbar color ="" [ngClass]="(lang == 'ar') ? 'cont_rtl':''">
    <ion-title>post</ion-title>
    <div class="pp">
        <img src="{{image}}"/>
    </div>
  </ion-navbar>

</ion-header>


<ion-content [ngClass]="(lang == 'ar') ? 'add_post_content cont_rtl':'add_post_content'">

  <ion-list class="add_post_list">

    <div class="category"  (click) ="gotoWantedPage();">{{'STR_CHOOSE_CATE' | translate}}</div>
    <ion-item class="post_button_upload">
      <ion-scroll scrollX="true" id="upic">
        <div class="bt_choose_category" (click)="gotoTakePic();">{{'STR_YOUCANADD' | translate}}</div>
        <div *ngFor="let picitem of picitems; let ii = index" class='bt_pic cateblue'>
          <div class='bt_remove' (click) ='removepic(ii);'>X</div>
          <img src='{{picitem.imgurl}}'/>
        </div>
      </ion-scroll>
      <!--
      <button  ion-button class="uploadButton"  (click) ="gotoWantedPage();"> <label class="category">Choose Category</label> </button>
      -->
    </ion-item>
    
    
        <!--<img src="img/motor3.jpg"></img>-->
        <!--
        <button style="width:100%;height:200px;border-radius:10%;justify-content: center;" (click)="presentActionSheet();">
          <img  src= "{{pathForImage(lastImage)}}" class="post_detail_img" [hidden]="lastImage === null">
          <h3 [hidden]="lastImage !== null">Please Select Image!</h3>
        </button>
        <!--<button ion-button icon-left (click)="presentActionSheet()"> <ion-icon name="camera"></ion-icon>Select Image</button>-->
    


    <ion-item>
      <ion-label fixed>{{'STR_TITLE' | translate}}</ion-label>
      <ion-input type="text" value="" id="Title" [(ngModel)]="post_title" required></ion-input>
    </ion-item>

   <ion-item>
    <ion-label fixed>{{'STR_PRICE' | translate}}</ion-label>
    <ion-input type="text" value="" id="Price" [(ngModel)]="post_price" required></ion-input>
  </ion-item>

  <ion-item style="height: 200px;">
    <ion-label fixed>{{'STR_DESCRIPTION' | translate}}</ion-label>
    <ion-textarea value="" id="Description" [(ngModel)]="post_desc" required></ion-textarea>
  </ion-item>

  <ion-item>
     <ion-checkbox [(ngModel)]="add_detail" (ionChange)="changeDetail()"></ion-checkbox>
     <ion-label> {{'STR_ADD_DETAILS' | translate}}</ion-label>
  </ion-item>

  <ion-row style="position: relative" [ngClass]="{'rover':!add_detail}">
    <div class='rover' *ngIf="!add_detail" ></div>
    <ion-item>
      <ion-label>{{'STR_CONDITION' | translate}} : </ion-label>
      <ion-label text-right>
        <div class='utab'>
          <div [ngClass]="{'sel':condition==false}" (click)="condition=false;">{{'STR_USED' | translate}}</div>
          <div [ngClass]="{'sel':condition==true}" (click)="condition=true;">{{'STR_NEW' | translate}}</div>
        </div>
      </ion-label>
    </ion-item>
    <ion-item>
     <ion-label style="padding-left: 16px;font-size: 16px;">{{'STR_DELIVERY' | translate}}</ion-label>
    </ion-item>
    <ion-item>
    <ion-checkbox [(ngModel)]="isfree" (ionChange)="changeFree()"></ion-checkbox><ion-label>{{'STR_FREE' | translate}}</ion-label>
    </ion-item>
    <ion-item>
    <ion-checkbox [(ngModel)]="isnofree" (ionChange)="changeNoFree()"></ion-checkbox><ion-label>{{'STR_NOTFREE' | translate}}</ion-label>
    </ion-item>
    <div class="ffright" style="position: absolute; bottom: 10px; right: 10px;">
      {{'STR_COST' | translate}}&nbsp;<font style="direction: ltr"><input class='dcost' type='text' [(ngModel)]='dcost' style="width:50px;padding:3px 5px;font-size: 16px;"/>&nbsp;KD</font>
    </div>
  </ion-row>

  <ion-item>
    <button ion-button block class='md-button green' (click)="post_type='free';clickPostButton()">{{'STR_POSTFREE' | translate}}</button>
  </ion-item>

  <ion-item>
    <button ion-button block class='md-button orange' (click)="clickContinue()">{{'STR_UPGRADE_TO_FEATURE' | translate}}</button>
  </ion-item>

</ion-list>


</ion-content>
