page-post {

.add_post_content
{
   /*background-color:tan;*/
}

.add_post_list
{
  width: 100%;
  height: 100%;
  /*border-radius: 10%;
  background-color:tan;*/
}

.uploadButton {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin-top: 10px;
    background-color: green;
}

.post_button_upload
{
   justify-content: center;
   align-content: center;
}

.category
{
  color: #1dafec;
  font-size: 5vw;
  text-align: center;
  padding: 10px;
  border-bottom: 1px solid #eee;
}

.post_detail_img
{
  width: 100%;
  height: 180px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

.bt_choose_category,
.bt_pic{
  width: 120px;
  height: 120px;
  border: 1px solid #ccc;
  padding: 10px;
  padding-top: 35px;
  color: #ccc;
  margin: 0;
  margin-right: 10px;
  white-space: normal ;
  display: inline-block;
  position:relative;
}
.bt_remove{
  position: absolute;
  right: 0px;
  top:0px;
  background:rgba(255,0,0,0.5);
  border-radius: 100%;
  color: #fff;
  padding: 2px 6px;
  box-shadow: #ccc 1px 2px 6px;
}
.cateblue{
  border: 1px solid #1dafec;
  color: #1dafec;
}
.bt_choose_category{
  float: left;
}
.bt_pic{
  padding: 0;
}
.bt_pic img{
  width: 100%;
  height: 100%;
}
#upic{
  height: 120px;
  padding: 10px;
}
div.pp{
    padding: 1px 5px;
    height: 60px;
    position: absolute;
    top: 5px;
    right: 5px;
}
div.pp img{
    float: left;
    width: 46px;
    height: 46px;
    border-radius: 3px;
    margin-left: 0px;
    margin-top: 0px;
    margin-right: 0px;
}
div.pp div{
    float: right;
    width: 150px;
    padding-top: 15px;
    color: #fff;
}
button.md-button.button-md{
  height: 30px;
  border-radius: 20px;
}
.item-md .item-button.md-button.green{
  background: #22b14c;
}
.item-md .item-button.md-button.orange{
  background: #ff7f27;
}
.utab{
  float: right;
}
.utab div{
  border: 1px solid #ddd;
  padding: 5px 10px;
  float: right;
}
.utab div:first-child{
  border-left: 0px;
}
.utab div.sel{
  background: #1dafec;
  border: 1px solid #1dafec;
  color: #fff;
}
ion-content.add_post_content,
ion-item.item-md{
  background: #4c4c4c;
}
.add_post_content *{
  color: #fff;
  font-weight: bold;
}
.add_post_content input.dcost{
  color: #333;
}

div.rover{
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 99;
  left: 0px;
  top: 0px;
}
ion-row.rover *{
  color: #888;
}

}
