// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
/*
.tabs-md-primary .tabbar{
    background: #fff;
    color: #aaa;
}
.tabs-md-primary .tab-button, .tabs-md-primary .tab-button .tab-button-icon{
    color: #888;
}
.tabs-md-primary .tab-button:hover:not(.disable-hover), .tabs-md-primary .tab-button[aria-selected=true], .tabs-md-primary .tab-button[aria-selected=true] .tab-button-icon{
    color: #1dafec;
}
*/
.fstatusbar{
    position: relative;
    top: 0px;
    width: 100%;
    height: 25px;
}
.fstatusbar ion-icon{
    float: right;
    margin: 2px 6px;
    margin-bottom: 0px;
    color: #ddd;
    font-size: 1.6em;
}
.fstatusbar img{
    height: 100%;
    float: right;
    padding: 3px;
    margin: 0px 6px;
    max-width: 32px;
}
.badge{
    background: #e44f0f;
    color: #fff;
    border-radius: 2px;
    text-align: center;
    padding: 1px 1px;
    font-size: 11px;
    min-width: 14px;
    position: absolute;
    top: 1px;
    right: 78px;
}
.div_icons,
.div_icons1{
    height: 38px;
}
.div_icons .div_icon,
.div_icons1 .div_icon{
    border-radius: 100px;
    border: 2px solid #ccc;
    background: #fff;
    width: 34px;
    height: 34px;
    padding: 1px;
    float: left;
    margin-top: 3px;
    margin-right: 3px;
    text-align: center;
}
.div_icon.sel{
    border: 2px solid rgba(241, 142, 0, 0.6);
    background: rgba(255, 248, 219, 0.9);
}
.div_icons .div_icon img,
.div_icons1 .div_icon img{
    max-width: 94%;
    max-height: 94%;
}
.div_icons1 .div_icon{
    border: 0px;
    background: transparent;
}
.div_icons1 .div_icon.sel{
    border: 2px solid rgba(29, 175, 236, 0.35);
    background: rgba(29, 175, 236, 0.17);
}
.div_icons1 .div_icon.sel img{
    opacity: 1;
}
.div_icons1 .div_icon img{
    max-height: auto;
    opacity: 0.5;
    max-width: 80%;
    max-height: 80%;
    margin-top: 8%;
    display: inline-block;
}
.pop_img{
    max-width: 100px;
    margin: 10px auto;
}
.div_badge{
    position: relative;
}
.tooltip{
    position: absolute;
    background: rgba(0,0,0,0.8);
    color: #fff;
    border-radius: 5px;
    padding: 5px 10px;
    left: 20px;
    top: 50px;
}
.tooptip_show{
    display: block;
}

ion-header{
    background:rgb(76, 76, 76);
}
ion-navbar.toolbar,
ion-toolbar{
    position: relative;
    padding: 0px;
}
ion-navbar .toolbar-background-md{
    background:rgb(76, 76, 76);
}
ion-toolbar .toolbar-content{
    background:rgb(76, 76, 76);
    color: #fff;
}
ion-toolbar .row{
    /*border-bottom: 2px solid #387ef5;*/
}
ion-navbar.toolbar ion-title .toolbar-title{
    color: #fff;
}
ion-icon.bt{
    color: #eee;
}
.searchbar-md .searchbar-input{
    border-radius: 40px;
    background: #333;
    color: #eee;
}
.back-button.show-back-button{
    color: #fff;
}

.about_title{
    font-weight: bold;
    font-size: 14px;
    padding-top: 10px;
}

.fstatusbar ion-icon:first-child{
    /*font-weight: bold;*/
    font-size: 28px;
    margin-top: -1px;
    margin-right: 10px;
}
.tabs-md-primary .tabbar{
    background: #212121;
}
.tabs-md-primary .tab-button, 
.tabs-md-primary .tab-button-icon{
    color: rgba(255, 255, 255, 0.5);
}

ion-toolbar ion-row ion-col{
  font-size: 18px;
  color: rgba(255,255,255,0.7);
  letter-spacing: 0.5px;
}
ion-toolbar ion-row ion-col.sel{
  font-weight: bold;
  border-bottom: 6px solid #ff8a65;
  color: #fff;
}
ion-content.content-md{
    background: #ededed;
}
.fast_post{
    position: fixed;
    bottom: 70px;
    right: 10px;
    background: #fb341f;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    color: #fff;
    padding: 10px;
    z-index: 99;
    text-align: center;
    padding-top: 3px;
}
.fast_post small{
    margin-top: -7px;
    display: block;
    font-size: 10px;
}
.fast_post .sell_ar, 
.fast_post_ar small{
    font-size: 14px;
    margin-top: -12px;
}
.fast_post ion-icon{
    font-size: 36px;
}
.info_popup{
    position: fixed;
    z-index: 999;
    background: #fff;
    box-shadow: #555 1px 1px 15px;
    padding: 2px;
    top: 70px;
    width: 280px;
}
.info_popup .btclose{
    position: absolute;
    right: 5px;
    top: 5px;
}
.info_popup .info_wrapper{
    padding: 20px 20px;
}
.info_popup .step{
    color: #fe5e4c;
    font-size: 14px;
}
.info_popup .info_cont{
    color: #333;
    font-size: 16px;
}
.info_popup .info_cont_title{
    font-size: 20px;
    font-weight: bold;
    padding: 10px 0px;
}
.info_popup .triangle_top{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent #fff transparent;
    position: absolute;
    top: -10px;
    left: 30px;
}
.info_popup .triangle_bottom{
    display: none;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 10px 0 10px;
    border-color: #fff transparent transparent transparent;
    position: absolute;
    bottom: -10px;
    left: 30px;
}
.info_cont_text{
    color: #555;
    font-size: 14px;
}
.info_cont_text u{
    font-size: 16px;
    padding-bottom: 10px;
    display: inline-block;
    font-weight: bold;
}
/*******************************/
.info_popup_0{
    left: auto;
    right: 5px;
    top: calc(100% - 310px);
}
.info_popup_0 .triangle_top{
    display: none;
}
.info_popup_0 .triangle_bottom{
    display: block;
    left: auto;
    right: 20px;
}
.info_popup_1 .triangle_top{
    left: 30px;
}
.info_popup_2 .triangle_top{
    left: 120px;
}
.info_popup_3 .triangle_top{
    left: auto;
    right: 40px;
}
.info_popup_1{
    left: 30px;
}
.info_popup_2{
    left: 50px;
}
.info_popup_3{
    left: auto;
    right: 0px;
}
.info_popup_4{
    top: 110px;
}
.info_popup_4 .triangle_top{
    left:80px;
}
.info_popup_5{
    top: 110px;
    left: auto;
    right: 0px;
}
.info_popup_5 .triangle_top{
    left: auto;
    right: 80px;
}
.info_popup_6,
.info_popup_7,
.info_popup_8,
.info_popup_9,
.info_popup_10{
    top: auto;
    bottom: 80px;
    box-shadow: #555 1px -1px 3px;
}
.info_popup_6 .triangle_top,
.info_popup_7 .triangle_top,
.info_popup_8 .triangle_top,
.info_popup_9 .triangle_top,
.info_popup_10 .triangle_top{
    display: none;
}
.info_popup_6 .triangle_bottom,
.info_popup_7 .triangle_bottom,
.info_popup_8 .triangle_bottom,
.info_popup_9 .triangle_bottom,
.info_popup_10 .triangle_bottom{
    display: block;
}
.info_popup_7 .triangle_bottom{
    left: 100px;
}
.info_popup_8 .triangle_bottom{
    left: 180px;
}
.info_popup_9 .triangle_bottom{
    left: 250px;
}
.info_popup_10 .triangle_bottom{
    left: auto;
    right: 20px;
}
.info_popup_10{
    left: auto;
    right: 10px;
}
.info_popup_11,
.info_popup_12,
.info_popup_13,
.info_popup_14{
    top: 35px;
    left: auto;
    right: 5px;
}
.info_popup_11 .triangle_top{
    left: auto;
    right: 110px;
}
.info_popup_12 .triangle_top{
    left: auto;
    right: 80px;
}
.info_popup_13 .triangle_top{
    left: auto;
    right: 40px;
}
.info_popup_14 .triangle_top{
    left: auto;
    right: 10px;
}
/*******************************/

.info_popup .info_buttons{
    height: 30px;
}
.info_popup .info_button{
    color: #fff;
    padding: 5px 10px;
    width: 50%;
    float: left;
    border-right: 1px solid #fff;
    text-align: center;
    font-size: 16px;
    background: #4c4c4c; /* Old browsers */
    background: -moz-linear-gradient(top,  #4c4c4c 0%, #2c2c2c 62%, #131313 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #4c4c4c 0%,#2c2c2c 62%,#131313 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #4c4c4c 0%,#2c2c2c 62%,#131313 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313',GradientType=0 ); /* IE6-9 */
}