<ion-header>

  <div class="fstatusbar">
      <ion-icon name="menu" (click)="gotoprofile()"></ion-icon>
      <img src="{{flag}}" />
      <ion-icon name="notifications" (click)="gotonotification()"></ion-icon>
      <ion-icon name="search" (click)="gotosearch()"></ion-icon>
      <div class='badge' *ngIf="badge!='0'">{{badge}}</div>
  </div>
  
  <ion-navbar color ="primary">
    <ion-title>{{'STR_ADDONS' | translate}}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>

    <h2 class="sec_title">{{'STR_FEATURED_ADVERTISE_TO_SELL' | translate}}</h2>
    <div class="sec">
        <ion-item>
            <ion-checkbox [(ngModel)]='check_pin' (ionChange)="pinChecked(check_pin);"></ion-checkbox>
            <ion-icon name ="pin" item-left></ion-icon>
            <ion-label>{{'STR_PINNED_ADVERTISE' | translate}}</ion-label>
            <ion-label text-right>3 KD</ion-label>
        </ion-item>

        <ion-item>
            <ion-checkbox [(ngModel)]='check_pre' (ionChange)="preChecked(check_pre);"></ion-checkbox>
            <ion-icon name ="albums" item-left></ion-icon>
            <ion-label>{{'STR_PREMIUM_ADVERTISE' | translate}}</ion-label>
            <ion-label text-right>5 KD</ion-label>
        </ion-item>

        <ion-item>
            <ion-checkbox [(ngModel)]='check_offer' (ionChange)="offerChecked(check_offer);"></ion-checkbox>
            <ion-icon name ="body" item-left></ion-icon>
            <ion-label>{{'STR_OFFERS_FIRST_PAGE' | translate}}</ion-label>
            <ion-label text-right>10 KD</ion-label>
        </ion-item>
    </div>

    <h2 class="sec_title">{{'STR_AVAILABLE_BALANCE' | translate}}</h2>
    <div class="sec">
        <ion-item>
            <ion-label>{{'STR_BALANCE' | translate}}</ion-label>
            <ion-label text-right>{{balance}} KD</ion-label>
        </ion-item>
        <ion-item *ngIf="false && preads != 0">
            <ion-label>{{'STR_PREMIUM_ADVERTISE' | translate}}</ion-label>
            <ion-label text-right>{{preads}}</ion-label>
        </ion-item>
        <ion-item *ngIf="false && pinads != 0">
            <ion-label>{{'STR_PINNED_ADVERTISE' | translate}}</ion-label>
            <ion-label text-right>{{pinads}}</ion-label>
        </ion-item>
        <ion-item *ngIf="false && vipads != 0">
            <ion-label>{{'STR_VIP'}}</ion-label>
            <ion-label text-right>{{vipads}}</ion-label>
        </ion-item>
        <ion-item *ngIf="false && offads != 0">
            <ion-label>{{'STR_OFFERS_FIRST' | translate}}</ion-label>
            <ion-label text-right>{{offads}}</ion-label>
        </ion-item>
    </div>

    <h2 class="sec_title">{{'STR_PAYMENT' | translate}}</h2>
    <div class="sec">
        <ion-item>
            <ion-label>{{'STR_TOTAL' | translate}}</ion-label>
            <ion-label text-right>{{total}} KD</ion-label>
        </ion-item>
        <ion-item>
            <ion-label>{{'STR_AMOUNT_TO_PAY' | translate}}</ion-label>
            <ion-label text-right>{{amount}} KD</ion-label>
        </ion-item>
    </div>

    <ion-item>
        <button ion-button block class='md-button orange' (click)="clickpay()">{{'STR_PAY_NOW' | translate}}</button>
        <button ion-button block class='md-button red' (click)="cancel()">{{'STR_CANCEL' | translate}}</button>
    </ion-item>

</ion-content>