
<ion-header>

  <div class="fstatusbar">
      <ion-icon name="menu" (click)="gotoprofile()"></ion-icon>
      <img src="{{flag}}" />
      <ion-icon name="notifications" (click)="gotonotification()"></ion-icon>
      <ion-icon name="search" (click)="gotosearch()"></ion-icon>
      <div class='badge' *ngIf="badge!='0'">{{badge}}</div>
  </div>
   <ion-navbar color="">

        <ion-title>My Profile</ion-title>
   </ion-navbar>

</ion-header>


<ion-content class="detail_content">
    <div class="membership" *ngIf="0 && membership != ''">{{membership}}</div>
    <div class="membership" *ngIf="(points)>=1500"><img src="assets/img/icon-2.png"/><div>Platinum</div></div>
    <div class="membership" *ngIf="(points)>=1000 && (points)<1500"><img src="assets/img/icon-12.png"/><div>Gold</div></div>
    <div class="membership" *ngIf="(points)>=600 && (points)<1000"><img src="assets/img/icon-16.png"/><div>Silver</div></div>
    <div class="membership" *ngIf="(points)>=400 && (points)<600"><img src="assets/img/icon-4.png"/><div></div></div>
    <div class="membership" *ngIf="(points)<400"></div>
    
    <button class="bt_editinfo" (click)="editinfo()">Edit Info</button>
    <div class="div_top">
        <div class="fleft div_photo" (click)="presentActionSheet();"> 
            <div>Click<br>to<br>Insert Image</div>
            <img src="{{image}}" src="" />
        </div>
        <div class="fleft div_30" (click)="onfollower()">
            <div style="color:#3474e1">{{follower}}</div>
            <div>Followers</div>
        </div>
        <div class="fleft div_30" (click)="onfollowing()">
            <div style="color:#3474e1">{{following}}</div>
            <div>Following</div>
        </div>
    </div>
    <div class="overall_star">
        <div class="overall_mark">{{myRating}}</div>
        <div class="div_star">
            <ion-icon *ngIf="myRating>=1" name="star"></ion-icon>
            <ion-icon *ngIf="myRating>=2" name="star"></ion-icon>
            <ion-icon *ngIf="myRating>=3" name="star"></ion-icon>
            <ion-icon *ngIf="myRating>=4" name="star"></ion-icon>
            <ion-icon *ngIf="myRating>=5" name="star"></ion-icon>
            <ion-icon *ngIf="myRating%1!=0" name="star-half"></ion-icon>
            <ion-icon *ngIf="myRating==0" name="star-outline"></ion-icon>
            <ion-icon *ngIf="myRating<=1" name="star-outline"></ion-icon>
            <ion-icon *ngIf="myRating<=2" name="star-outline"></ion-icon>
            <ion-icon *ngIf="myRating<=3" name="star-outline"></ion-icon>
            <ion-icon *ngIf="myRating<=4" name="star-outline"></ion-icon>
        </div>
        <div style="clear: both">{{ratingCount}} Reviews</div>
        <div class='div_tooltip'>
            <div class='tooltip' *ngIf="tool_tip">{{strtooltip}}</div>
        <div class="div_icons1">
            <div class="div_icon sel" (click)='clickicon(1, true)'>
                <img src="assets/img/icon-verify-1.png" />
            </div>
            <div class="div_icon" (click)='clickicon(2, false)'>
                <img src="assets/img/icon-email.png" />
            </div>
            <div class="div_icon" (click)='clickicon(3, true)'>
                <img src="assets/img/icon-phone.png" />
            </div>
            <div class="div_icon sel" (click)='clickicon(4, true)'>
                <img src="assets/img/icon-payment-1.png" />
            </div>
        </div>
        <div class="div_icons">
            <div [ngClass]="(membership1 == 'basic') ? 'div_icon sel' : 'div_icon'" (click)='clickicon(5, (membership1 == "basic"))'>
                <img src="assets/img/icon-6-1.png" *ngIf="membership1 == 'basic'"/>
                <img src="assets/img/icon-6.png" *ngIf="membership1 != 'basic'" />
            </div>
            <div [ngClass]="(membership2 == 'pro') ? 'div_icon sel' : 'div_icon'" (click)='clickicon(6, (membership2 == "pro"))'>
                <img src="assets/img/icon-9-1.png" *ngIf="membership2 == 'pro'"/>
                <img src="assets/img/icon-9.png" *ngIf="membership2 != 'pro'" />
            </div>
            <div [ngClass]="(membership3 == 'shop') ? 'div_icon sel' : 'div_icon'" (click)='clickicon(7, (membership3 == "shop"))'>
                <img src="assets/img/icon-5-1.png" *ngIf="membership3 == 'shop'"/>
                <img src="assets/img/icon-5.png" *ngIf="membership3 != 'shop'" />
            </div>
            <div [ngClass]="(membership4 == 'company') ? 'div_icon sel' : 'div_icon'" (click)='clickicon(8, (membership4 == "company"))'>
                <img src="assets/img/icon-15-1.png" *ngIf="membership4 == 'company'"/>
                <img src="assets/img/icon-15.png" *ngIf="membership4 != 'company'"/>
            </div>
        </div>
        </div>
    </div>
    <button id='bt_post_ad' ion-button small color="">
        <label (click)="onpost();">Post Advertise</label>
        <ion-icon name='help' style="margin-left: 20px;"></ion-icon>
    </button>
    <!--
    <div class="div_rank">
        <div>Rank : {{rank}}</div>
        <div class="rank">
            <div class="rank_item"></div>
            <div class="rank_item"></div>
            <div class="rank_item"></div>
        </div>
    </div>
    -->
    <div class="balance">
        <div text-center>Available Balance</div>
        <div text-center class="bal">{{balance}} KD</div>
        <div class="div_line"></div>
        <div text-center calss="point">Points : {{points}}</div>
    </div>

    <div class="sec">
        <div class="div_sec">Your Profile Level
            <ion-icon name='help' style="float:right; margin-right: 10px;"></ion-icon>
        </div>
        <div class="div_progress">
            <img src="assets/img/icon-4.png"/>
            <div class='progress_wrapper'>
                <div class='progress pro1' [style.width]="p1">{{pp1}}</div>
            </div>
            <label item-right>{{p1}}</label>
        </div>
        <div class="div_progress">
            <img src="assets/img/icon-16.png"/>
            <div class='progress_wrapper'>
                <div class='progress pro2' [style.width]="p2">{{pp2}}</div>
            </div>
            <label item-right>{{p2}}</label>
        </div>
        <div class="div_progress">
            <img src="assets/img/icon-12.png"/>
            <div class='progress_wrapper'>
                <div class='progress pro3' [style.width]="p3">{{pp3}}</div>
            </div>
            <label item-right>{{p3}}</label>
        </div>
        <div class="div_progress">
            <img src="assets/img/icon-2.png"/>
            <div class='progress_wrapper'>
                <div class='progress pro4' [style.width]="p4">{{pp4}}</div>
            </div>
            <label item-right>{{p4}}</label>
        </div>
    </div>

    <div class="sec">
        <div class="div_sec">Post Adv Management
            <ion-icon name='help' style="float:right; margin-right: 10px;"></ion-icon>
        </div>
        <ion-item (click)="onmyads();">
            <ion-icon name ="megaphone" item-left></ion-icon>
            <ion-label>My Advertise</ion-label>
            <ion-icon name ="arrow-dropright" item-right></ion-icon>
        </ion-item>

        <ion-item>
            <ion-icon name ="volume-down" item-left></ion-icon>
            <ion-label>Free ads left</ion-label>
            <ion-label text-right>{{myfreeads}}</ion-label>
        </ion-item>

        <ion-item (click)="onmyfav();">
            <ion-icon name ="happy" item-left></ion-icon>
            <ion-label>Favorite</ion-label>
            <ion-icon name ="arrow-dropright" item-right></ion-icon>
        </ion-item>

        <ion-item (click)="onmychat();">
            <ion-icon name ="chatboxes" item-left></ion-icon>
            <ion-label>My chats</ion-label>
            <ion-icon name ="arrow-dropright" item-right></ion-icon>
        </ion-item>

        <ion-item (click)="onclearbid();">
            <ion-icon name ="trash" item-left></ion-icon>
            <ion-label>Clear Bid</ion-label>
        </ion-item>

    </div>

    <div class="sec">
        <div class="div_sec">Available Featured Advertise
            <ion-icon name='help' style="float:right; margin-right: 10px;"></ion-icon>
        </div>
        <ion-item>
            <ion-icon name ="albums" item-left></ion-icon>
            <ion-label>Premium ads</ion-label>
            <ion-label text-right>{{preads}}</ion-label>
        </ion-item>

        <ion-item>
            <ion-icon name ="pin" item-left></ion-icon>
            <ion-label>Pinned ads</ion-label>
            <ion-label text-right>{{pinads}}</ion-label>
        </ion-item>

        <ion-item>
            <ion-icon name ="basket" item-left></ion-icon>
            <ion-label >Vip ads</ion-label>
            <ion-label text-right>{{vipads}}</ion-label>
        </ion-item>

        <ion-item>
            <ion-icon name ="body" item-left></ion-icon>
            <ion-label>offers and first page ads</ion-label>
            <ion-label text-right>{{offads}}</ion-label>
        </ion-item>
    </div>

    <div class="sec">
        <div class="div_sec">Account upgrade & Payments
            <ion-icon name='help' style="float:right; margin-right: 10px;"></ion-icon>
        </div>
        <ion-item (click)="onfreemember();">
            <ion-icon name ="contact" item-left></ion-icon>
            <ion-label>Account&nbsp;<span *ngIf="membership == 'Free'">Free</span> <span *ngIf="membership != 'Free'"><b>{{membership}}</b></span>&nbsp;member</ion-label>
            <ion-icon name ="arrow-dropright" item-right></ion-icon>
        </ion-item>

        <ion-item (click)="onmembership();">
            <ion-icon name ="archive" item-left></ion-icon>
            <ion-label>packages &amp; Subscriptions</ion-label>
            <ion-icon name ="arrow-dropright" item-right></ion-icon>
        </ion-item>

        <ion-item (click)="onrecharge();">
            <ion-icon name ="logo-usd" item-left></ion-icon>
            <ion-label>Recharge your Balance</ion-label>
            <ion-icon name ="arrow-dropright" item-right></ion-icon>
        </ion-item>
    </div>

</ion-content>