
<ion-header>

  <div class="fstatusbar">
      <ion-icon name="menu" (click)="gotoprofile()"></ion-icon>
      <img src="{{flag}}" />
      <ion-icon name="notifications" (click)="gotonotification()"></ion-icon>
      <ion-icon name="search" (click)="gotosearch()"></ion-icon>
      <div class='badge' *ngIf="badge!='0'">{{badge}}</div>
  </div>
   <ion-navbar color="">

        <ion-title>{{'STR_MYPROFILE' | translate}}</ion-title>
   </ion-navbar>

</ion-header>


<ion-content [ngClass]="(lang == 'ar') ? 'detail_content cont_rtl':'detail_content'">
    <div class="membership" *ngIf="0 && membership != ''">{{membership}}</div>
    <div class="membership" *ngIf="(points)>=1500"><img src="assets/img/icon-2.png"/><div>Platinum</div></div>
    <div class="membership" *ngIf="(points)>=1000 && (points)<1500"><img src="assets/img/icon-12.png"/><div>Gold</div></div>
    <div class="membership" *ngIf="(points)>=600 && (points)<1000"><img src="assets/img/icon-16.png"/><div>Silver</div></div>
    <div class="membership" *ngIf="(points)>=400 && (points)<600"><img src="assets/img/icon-4.png"/><div></div></div>
    <div class="membership" *ngIf="(points)<400"></div>
    
    <button class="bt_editinfo" (click)="editinfo()">{{'STR_EDITINFO' | translate}}</button>
    <div class="div_top">
        <div class="fleft div_photo" (click)="presentActionSheet();"> 
            <div>Click<br>to<br>Insert Image</div>
            <img src="{{image}}" src="" />
        </div>
        <div class="fleft div_30" (click)="onfollower()">
            <div style="color:#3474e1">{{follower}}</div>
            <div>{{'STR_FOLLOWERS' | translate}}</div>
        </div>
        <div class="fleft div_30" (click)="onfollowing()">
            <div style="color:#3474e1">{{following}}</div>
            <div>{{'STR_FOLLOWING' | translate}}</div>
        </div>
    </div>
    <div class="overall_star">
        <div class="overall_mark">{{myRating}}</div>
        <div class="div_star">
            <ion-icon *ngIf="myRating>=1" name="star"></ion-icon>
            <ion-icon *ngIf="myRating>=2" name="star"></ion-icon>
            <ion-icon *ngIf="myRating>=3" name="star"></ion-icon>
            <ion-icon *ngIf="myRating>=4" name="star"></ion-icon>
            <ion-icon *ngIf="myRating>=5" name="star"></ion-icon>
            <ion-icon *ngIf="myRating%1!=0" name="star-half"></ion-icon>
            <ion-icon *ngIf="myRating==0" name="star-outline"></ion-icon>
            <ion-icon *ngIf="myRating<=1" name="star-outline"></ion-icon>
            <ion-icon *ngIf="myRating<=2" name="star-outline"></ion-icon>
            <ion-icon *ngIf="myRating<=3" name="star-outline"></ion-icon>
            <ion-icon *ngIf="myRating<=4" name="star-outline"></ion-icon>
        </div>
        <div style="clear: both; margin-right: 5px;">{{ratingCount}} {{'STR_REVIEWS' | translate}}</div>
        <div class='div_tooltip'>
            <div class='tooltip' *ngIf="tool_tip">{{strtooltip}}</div>
        <div class="div_icons1">
            <div class="div_icon sel" (click)='clickicon(1, true)'>
                <img src="assets/img/icon-verify-1.png" />
            </div>
            <div class="div_icon" (click)='clickicon(2, false)'>
                <img src="assets/img/icon-email.png" />
            </div>
            <div class="div_icon" (click)='clickicon(3, true)'>
                <img src="assets/img/icon-phone.png" />
            </div>
            <div class="div_icon sel" (click)='clickicon(4, true)'>
                <img src="assets/img/icon-payment-1.png" />
            </div>
        </div>
        <div class="div_icons">
            <div [ngClass]="(membership1 == 'basic') ? 'div_icon sel' : 'div_icon'" (click)='clickicon(5, (membership1 == "basic"))'>
                <img src="assets/img/icon-6-1.png" *ngIf="membership1 == 'basic'"/>
                <img src="assets/img/icon-6.png" *ngIf="membership1 != 'basic'" />
            </div>
            <div [ngClass]="(membership2 == 'pro') ? 'div_icon sel' : 'div_icon'" (click)='clickicon(6, (membership2 == "pro"))'>
                <img src="assets/img/icon-9-1.png" *ngIf="membership2 == 'pro'"/>
                <img src="assets/img/icon-9.png" *ngIf="membership2 != 'pro'" />
            </div>
            <div [ngClass]="(membership3 == 'shop') ? 'div_icon sel' : 'div_icon'" (click)='clickicon(7, (membership3 == "shop"))'>
                <img src="assets/img/icon-5-1.png" *ngIf="membership3 == 'shop'"/>
                <img src="assets/img/icon-5.png" *ngIf="membership3 != 'shop'" />
            </div>
            <div [ngClass]="(membership4 == 'company') ? 'div_icon sel' : 'div_icon'" (click)='clickicon(8, (membership4 == "company"))'>
                <img src="assets/img/icon-15-1.png" *ngIf="membership4 == 'company'"/>
                <img src="assets/img/icon-15.png" *ngIf="membership4 != 'company'"/>
            </div>
        </div>
        </div>
        <div style="clear:both"></div>
    </div>
    <button id='bt_post_ad' ion-button small color="">
        <label (click)="onpost();">{{'STR_POST_ADVERTISE' | translate}}</label>
    </button>
    <!--
    <div class="div_rank">
        <div>Rank : {{rank}}</div>
        <div class="rank">
            <div class="rank_item"></div>
            <div class="rank_item"></div>
            <div class="rank_item"></div>
        </div>
    </div>
    -->
    <div class="balance">
        <ion-icon name='help' style="margin-left: 20px;" (click)="showInfo(0)"></ion-icon>
        <div text-center>{{'STR_AVAILABLE_BALANCE' | translate}}</div>
        <div text-center class="bal">{{balance}} KD</div>
        <div class="div_line"></div>
        <div text-center calss="point">{{'STR_POINTS' | translate}} : {{points}}</div>
    </div>

    <div class="sec">
        <div class="div_sec">{{'STR_PROFILE_LEVEL' | translate}}
            <ion-icon name='help' style="float:right; margin-right: 10px;" (click)="showInfo(1)"></ion-icon>
        </div>
        <div class="div_progress">
            <img src="assets/img/icon-4.png"/>
            <div class='progress_wrapper'>
                <div class='progress pro1' [style.width]="p1">{{pp1}}</div>
            </div>
            <label item-right>{{p1}}</label>
        </div>
        <div class="div_progress">
            <img src="assets/img/icon-16.png"/>
            <div class='progress_wrapper'>
                <div class='progress pro2' [style.width]="p2">{{pp2}}</div>
            </div>
            <label item-right>{{p2}}</label>
        </div>
        <div class="div_progress">
            <img src="assets/img/icon-12.png"/>
            <div class='progress_wrapper'>
                <div class='progress pro3' [style.width]="p3">{{pp3}}</div>
            </div>
            <label item-right>{{p3}}</label>
        </div>
        <div class="div_progress">
            <img src="assets/img/icon-2.png"/>
            <div class='progress_wrapper'>
                <div class='progress pro4' [style.width]="p4">{{pp4}}</div>
            </div>
            <label item-right>{{p4}}</label>
        </div>
    </div>

    <div class="sec">
        <div class="div_sec">{{'STR_POST_ADVERTISE_MANAGMENT' | translate}}
            <ion-icon name='help' style="float:right; margin-right: 10px;" (click)="showInfo(2)"></ion-icon>
        </div>
        <ion-item (click)="onmyads();">
            <ion-icon name ="megaphone" item-left></ion-icon>
            <ion-label>{{'STR_MY_ACTIVE_POSTS' | translate}}</ion-label>
            <ion-icon name ="arrow-dropright" item-right *ngIf="lang != 'ar'"></ion-icon>
            <ion-icon name ="arrow-dropleft" item-right *ngIf="lang == 'ar'"></ion-icon>
        </ion-item>

        <ion-item>
            <ion-icon name ="volume-down" item-left></ion-icon>
            <ion-label>{{'STR_FREE_POSTS_LEFT' | translate}}</ion-label>
            <ion-label text-right>{{myfreeads}}</ion-label>
        </ion-item>

        <ion-item (click)="onmyfav();">
            <ion-icon name ="happy" item-left></ion-icon>
            <ion-label>{{'STR_FAVORITE' | translate}}</ion-label>
            <ion-icon name ="arrow-dropright" item-right *ngIf="lang != 'ar'"></ion-icon>
            <ion-icon name ="arrow-dropleft" item-right *ngIf="lang == 'ar'"></ion-icon>
        </ion-item>

        <ion-item (click)="onmychat();">
            <ion-icon name ="chatboxes" item-left></ion-icon>
            <ion-label>{{'STR_MY_CHAT' | translate}}</ion-label>
            <ion-icon name ="arrow-dropright" item-right *ngIf="lang != 'ar'"></ion-icon>
            <ion-icon name ="arrow-dropleft" item-right *ngIf="lang == 'ar'"></ion-icon>
        </ion-item>

        <ion-item (click)="onclearbid();">
            <ion-icon name ="trash" item-left></ion-icon>
            <ion-label>{{'STR_CLEAR_BIDS' | translate}}</ion-label>
        </ion-item>

    </div>

    <div class="sec">
        <div class="div_sec">{{'STR_AVAILABLE_FEATURED_ADVERTISE' | translate}}
            <ion-icon name='help' style="float:right; margin-right: 10px;" (click)="showInfo(3)"></ion-icon>
        </div>
        <ion-item>
            <ion-icon name ="albums" item-left></ion-icon>
            <ion-label>{{'STR_PREMIUM_ADVERTISE' | translate}}</ion-label>
            <ion-label text-right>{{preads}}</ion-label>
        </ion-item>

        <ion-item>
            <ion-icon name ="pin" item-left></ion-icon>
            <ion-label>{{'STR_PINNED' | translate}}</ion-label>
            <ion-label text-right>{{pinads}}</ion-label>
        </ion-item>

        <ion-item>
            <ion-icon name ="basket" item-left></ion-icon>
            <ion-label >{{'STR_VIP' | translate}}</ion-label>
            <ion-label text-right>{{vipads}}</ion-label>
        </ion-item>

        <ion-item>
            <ion-icon name ="body" item-left></ion-icon>
            <ion-label>{{'STR_OFFERS_FIRST_PAGE' | translate}}</ion-label>
            <ion-label text-right>{{offads}}</ion-label>
        </ion-item>
    </div>

    <div class="sec">
        <div class="div_sec">{{'STR_ACCOUNT_UPGRADE_PAYMENTS' | translate}}
            <ion-icon name='help' style="float:right; margin-right: 10px;" (click)="showInfo(4)"></ion-icon>
        </div>
        <ion-item (click)="onfreemember();">
            <ion-icon name ="contact" item-left></ion-icon>
            <ion-label>{{'STR_ACCOUNT' | translate}}&nbsp;<span *ngIf="membership == 'Free'">{{'STR_FREE' | translate}}</span> <span *ngIf="membership != 'Free'"><b>{{membership}}</b></span>&nbsp;{{'STR_MEMBER' | translate}}</ion-label>
            <ion-icon name ="arrow-dropright" item-right *ngIf="lang != 'ar'"></ion-icon>
            <ion-icon name ="arrow-dropleft" item-right *ngIf="lang == 'ar'"></ion-icon>
        </ion-item>

        <ion-item (click)="onmembership();">
            <ion-icon name ="archive" item-left></ion-icon>
            <ion-label>{{'STR_PACKAGES_MEMBERSHIP_SUBSCRIPTION' | translate}}</ion-label>
            <ion-icon name ="arrow-dropright" item-right *ngIf="lang != 'ar'"></ion-icon>
            <ion-icon name ="arrow-dropleft" item-right *ngIf="lang == 'ar'"></ion-icon>
        </ion-item>

        <ion-item (click)="onrecharge();">
            <ion-icon name ="logo-usd" item-left></ion-icon>
            <ion-label>{{'STR_RECHARGE_YOUR_BALANCE' | translate}}</ion-label>
            <ion-icon name ="arrow-dropright" item-right *ngIf="lang != 'ar'"></ion-icon>
            <ion-icon name ="arrow-dropleft" item-right *ngIf="lang == 'ar'"></ion-icon>
        </ion-item>
    </div>

</ion-content>
