<!--
  Generated template for the Latest page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <div class="fstatusbar">
      <ion-icon name="menu" (click)="gotoprofile()"></ion-icon>
      <img src="{{flag}}" />
      <ion-icon name="notifications" (click)="gotonotification()"></ion-icon>
      <ion-icon name="search" (click)="gotosearch()"></ion-icon>
      <ion-icon name="help" (click)="showInfo()"></ion-icon>
      <div class='badge' *ngIf="badge!='0'">{{badge}}</div>
  </div>
  <ion-navbar color="">

    <!--<ion-title>latest</ion-title>-->
    
    <ion-row>
        <ion-col col *ngIf='false'>
          <button ion-button color="secondary" (click)="goPostPage();">
            <ion-icon  name ="ios-camera"></ion-icon>
            <label>Post ad</label>
          </button>
        </ion-col>

        <ion-col col>
          <button ion-button color="secondary" (click)="goBidPage();">{{'STR_BIDS' | translate}}</button>
        </ion-col>

        <ion-col col>
          <button ion-button color="secondary" (click)="goTopSellerPage();">{{'STR_TOPSELLERS' | translate}}</button>
        </ion-col>

        <ion-col col>
          <button color="secondary" ion-button style="margin-left: 2px;" (click)="goWnatedThing();">{{'STR_SHOPS' | translate}}</button>
        </ion-col>
    </ion-row>

  </ion-navbar>
   <ion-toolbar>
     <ion-row>
        <ion-col col-6 text-center class='col_tab sel' (click)="showdata('all')" id="tab_all">{{'STR_ALL' | translate}}</ion-col>
        <ion-col col-6 text-center class='col_tab' (click)="showdata('following')" id="tab_following">{{'STR_FOLLOWING' | translate}}</ion-col>
     </ion-row>
    </ion-toolbar>

</ion-header>

<!-- [ngClass]="(service.lang == 'ar') ? 'late_content cont_rtl':'late_content'"-->
<ion-content [ngClass]="(lang == 'ar') ? 'late_content cont_rtl':'late_content'">
<div class='fast_post fast_post_{{lang}}' (click)="goPostPage()"><ion-icon name="ios-camera"></ion-icon><small [ngClass]="lang == 'ar'? 'sell_ar': ''">{{'STR_SELL' | translate}}</small></div>
<div *ngIf="!clickFollow">
  <ion-card *ngFor="let item of keys; let i = index" class="late_card" (click)="click_card(i);">
    <!--<ion-item class="late_header">
      <h2> {{item.post_title}}</h2>
    </ion-item>-->
    <div *ngIf="item.post_type=='feature'" class="ribbon"><span>Featured</span></div>
    <div *ngIf="item.post_type=='pre'" class="pre">Premium</div>
    <div *ngIf="item.post_type=='pin'" class="pin">Pinned</div>
    <div *ngIf="item.wanted=='1'" class="wanted">Wanted</div>

    <div class="div_img" [style.backgroundImage]="'url('+item.post_img_url[0]+')'">
      <img class="late_img" *ngFor="let itemurl of item.post_img_url;" src="{{itemurl}}" style="display:none"/>
    </div>
    <div class="div_content">
      <div>
        <span class='fleft pdate'>{{item.post_date}}</span>
        <span class='fright pprice' *ngIf="item.wanted=='0'">{{item.post_price}} KWD</span>
        <div class="clearfix"></div>
      </div>
      <div class="ptitle">{{item.post_title}}</div>
    </div>

    <ion-card-content>
      <!--<p style="color:black;">{{item.post_des}}</p>-->
    </ion-card-content>
  </ion-card>
</div>


<div *ngIf="clickFollow" >
  <div *ngIf="pids.length == 0" (click)="goSearch()">
    <div class="nofollow">FIND PEOPLE TO FOLLOW<br/>
      <small>Start following People to see latest stuff in this page</small>
    </div>
  </div>
  <div *ngFor="let pid of pids;">
    <div class="profile">
      <img class="div_img1" src="{{pid.pimage}}"/>
      <div class="div_item_right">
        <div class="user_name" style="clear:both">{{pid['post_profile_username']}}</div>
        <div class="overall_mark">{{pid['mark']}}</div>
        <div class="div_star">
            <ion-icon *ngIf="pid['mark']>=1" name="star"></ion-icon>
            <ion-icon *ngIf="pid['mark']>=2" name="star"></ion-icon>
            <ion-icon *ngIf="pid['mark']>=3" name="star"></ion-icon>
            <ion-icon *ngIf="pid['mark']>=4" name="star"></ion-icon>
            <ion-icon *ngIf="pid['mark']>=5" name="star"></ion-icon>
            <ion-icon *ngIf="pid['mark']%1!=0" name="star-half"></ion-icon>
            <ion-icon *ngIf="pid['mark']==0" name="star-outline"></ion-icon>
            <ion-icon *ngIf="pid['mark']<=1" name="star-outline"></ion-icon>
            <ion-icon *ngIf="pid['mark']<=2" name="star-outline"></ion-icon>
            <ion-icon *ngIf="pid['mark']<=3" name="star-outline"></ion-icon>
            <ion-icon *ngIf="pid['mark']<=4" name="star-outline"></ion-icon>
        </div>
        <div class="reviewcount">{{pid['review']}} Reviews</div>
      </div>
      <div style="clear: both"></div>
    </div>
    <div *ngFor="let item of keys; let i = index">
      <ion-card *ngIf="pid.pid == item.pid" class="late_card" (click)="click_card(i);">
        <div *ngIf="item.post_type=='feature'" class="ribbon"><span>Featured</span></div>
        <div *ngIf="item.post_type=='pre'" class="pre">Premium</div>
        <div *ngIf="item.post_type=='pin'" class="pin">Pinned</div>
        <div *ngIf="item.wanted=='1'" class="wanted">Wanted</div>

        <div class="div_img" [style.backgroundImage]="'url('+item.post_img_url[0]+')'">
          <img class="late_img" *ngFor="let itemurl of item.post_img_url;" src="{{itemurl}}" style="display:none"/>
        </div>
        <div class="div_content">
          <div>
            <span class='fleft pdate'>{{item.post_date}}</span>
            <span class='fright pprice' *ngIf="item.wanted=='0'">{{item.post_price}} KWD</span>
            <div class="clearfix"></div>
          </div>
          <div class="ptitle">{{item.post_title}}</div>
        </div>
      </ion-card>
    </div>
    <div class="div_sec"></div>
  </div>
</div>

</ion-content>
