page-review{

.fleft{
    float: left;
}
.fright{
    float: right;
}
.div_star ion-icon{
    color: #f18e00;
    font-size: 28px;
    margin-top: -5px;
}
.div_star_sec{
    clear: both;
    height: 36px;
}
.dev_sec{

}
.mark{
    padding-right: 10px;
}
.totalmark {
    font-size: 32px;

}
ion-textarea {
    border: 1px solid #eee;
}
textarea {
    height: 100px;
}

}