<ion-header>
  
  <div class="fstatusbar">
      <ion-icon name="menu" (click)="gotoprofile()"></ion-icon>
      <img src="{{flag}}" />
      <ion-icon name="notifications" (click)="gotonotification()"></ion-icon>
      <ion-icon name="search" (click)="gotosearch()"></ion-icon>
      <ion-icon name="help" (click)="showInfo()"></ion-icon>
      <div class='badge' *ngIf="badge!='0'">{{badge}}</div>
  </div>
  
  <ion-navbar color="" color="" [ngClass]="(lang == 'ar') ? 'cont_rtl':''">
    <ion-title>{{'STR_BIDS' | translate}}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content class="late_content">

<ion-item *ngFor="let item of keys; let i = index">
    
    <ion-card class="late_card" (click)="click_card(i);">
    <!--
    <div *ngIf="item.wanted=='1'" class="wanted">wanted</div>
    -->
    <div class="div_img">
        <img  class="late_img" *ngFor="let itemurl of item.image_url;" src="{{itemurl}}"/>
    </div>
    <div class="div_content">
        <div>
        <span class='fleft pdate'>{{item.post_dt}}</span>
        <span class='fright pprice' style="direction: ltr">{{item.price}} KWD</span>
        <div class="clearfix"></div>
        </div>
        <div class="ptitle">{{item.title}}</div>
    </div>

    </ion-card>

    <div class="div_right">
        <div *ngIf="lang != 'ar'">{{item.nums}} {{'STR_BIDS' | translate}}</div>
        <div *ngIf="lang == 'ar'">{{'STR_BIDS' | translate}} {{item.nums}}</div>
        <div>{{'STR_REACHED' | translate}}  <font style="direction: ltr">{{item.bidprice}}<span style="color:#333">KWD</span></font></div>
    </div>

</ion-item>

</ion-content>